# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Android
**/android/.gradle/
**/android/local.properties

# iOS
**/ios/Pods/
**/ios/.symlinks/

# Node.js
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log